/node_modules/*
!/node_modules/ne-admin
!/node_modules/ne-auth
!/node_modules/ne-auto
!/node_modules/ne-auto-off
!/node_modules/ne-gulp
!/node_modules/ne-data
!/node_modules/ne-handler
!/node_modules/ne-style
!/node_modules/ne-sendgrid
!/node_modules/ne-render
!/node_modules/ne-server
node_modules/*/node_modules
!/node_modules/ne-auto/node_modules/ne-admin
!/node_modules/ne-auto/node_modules/ne-auth
!/node_modules/ne-auto/node_modules/ne-data
!/node_modules/ne-auto/node_modules/ne-gulp
!/node_modules/ne-auto/node_modules/ne-handler
!/node_modules/ne-auto/node_modules/ne-render
!/node_modules/ne-auto/node_modules/ne-server
node_modules/ne-auto/node_modules/*/node_modules/
.idea
config-p.json
config-d.json
app
arc
log.md
