/node_modules/*
!/node_modules/ne-admin
!/node_modules/ne-auto
!/node_modules/ne-gulp
!/node_modules/ne-handler
!/node_modules/ne-style
node_modules/*/node_modules
!/node_modules/ne-auto/node_modules
node_modules/ne-auto/node_modules/cookie-parser
node_modules/ne-auto/node_modules/body-parser
node_modules/ne-auto/node_modules/mongoose
node_modules/ne-auto/node_modules/morgan
node_modules/ne-auto/node_modules/passport
node_modules/ne-auto/node_modules/*/node_modules/
.idea
config-p.json
config-d.json
app
arc
log.md
